:root {
  --fondo: rgba(246,246,246,255);
  --rojo: #f01919;
  --amarillo: #f2c63c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--amarillo);
}

.portada {
  width: 100%;
  height: 30rem;
}
.portada img {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.contenedorTotal {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: var(--amarillo);
}
.contenedorTotal main {
  padding: 2rem;
  padding-right: 0;
  color: white;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contenedorTotal main header .logo {
  font-weight: 400;
  font-size: 1.5rem;
}
.contenedorTotal main nav ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contenedorTotal main nav ul .botonMenu {
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 1rem;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  font-weight: 600;
  align-items: center;
}
.contenedorTotal main nav ul .botonMenu img {
  width: 1rem;
}
.contenedorTotal main nav ul .botonMenu.active {
  background-color: var(--fondo);
  color: var(--amarillo);
  width: 100%;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.contenedorTotal main nav ul .botonCarrito {
  margin-top: 2rem;
}
.contenedorTotal main nav ul .botonCarrito .numero {
  background-color: white;
  color: var(--amarillo);
  padding: 0 0.25rem;
  border-radius: 0.25rem;
}
.contenedorTotal main nav ul .botonCarrito.active .numero {
  background-color: var(--amarillo);
  color: white;
}

.contProductos {
  background-color: var(--fondo);
  margin: 1rem;
  margin-left: 0;
  border-radius: 1rem;
  padding: 3rem;
}
.contProductos .tituloPrincipal {
  color: var(--rojo);
  margin-bottom: 2rem;
}
.contProductos .contenedorProductos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.contProductos .contenedorProductos .producto .productoImagen {
  max-width: 100%;
  background-image: url(../image/supercell.png);
  background-size: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.contProductos .contenedorProductos .producto .productoDetalles {
  background-color: var(--amarillo);
  padding: 0.3rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.contProductos .contenedorProductos .producto .productoDetalles .productoTitulo1 {
  font-size: 1.5rem;
}
.contProductos .contenedorProductos .producto .productoDetalles .productoTitulo2 {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.contProductos .contenedorProductos .producto .productoDetalles .productoTitulo2 img {
  width: 1rem;
}
.contProductos .contenedorProductos .producto .productoDetalles .productoAgregar {
  color: var(--amarillo);
  padding: 0.3rem;
  text-transform: uppercase;
  border-radius: 2rem;
  border: 2px solid white;
  background-color: white;
  font-weight: bold;
  transition: background-color 0.2s, color 0.2s;
}
.contProductos .contenedorProductos .producto .productoDetalles .productoAgregar:hover {
  background-color: var(--rojo);
  color: white;
}

.contCarrito {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.contCarrito .carritoProductos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contCarrito .carritoProductos .carritoProducto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
}
.contCarrito .carritoProductos .carritoProducto .carritoProductoImagen {
  width: 5rem;
  border-radius: 1rem;
  background-image: url(../image/supercell.png);
  background-size: 100%;
}
.contCarrito .carritoProductos .carritoProducto small {
  font-size: 0.8rem;
}
.contCarrito .carritoProductos .carritoProducto .carritoProductoEliminar {
  border: 0;
  background-color: transparent;
  color: var(--rojo);
}
.contCarrito .carritoAcciones {
  display: flex;
  justify-content: space-between;
}
.contCarrito .carritoAcciones .vaciar {
  border: 0;
  background-color: var(--rojo);
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}
.contCarrito .carritoAcciones .comprarAhora {
  display: flex;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}
.contCarrito .carritoAcciones .comprarAhora .totalCarrito {
  display: flex;
  background-color: white;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  gap: 1rem;
}
.contCarrito .carritoAcciones .comprarAhora .comprar {
  border: 0;
  background-color: var(--amarillo);
  padding: 1rem;
  color: black;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}
.contCarrito .disabled {
  display: none;
}/*# sourceMappingURL=sass.css.map */