.contCarrito{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .carritoProductos{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .carritoProducto{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            box-shadow: 0 3px 12px 0 rgba(0,0,0,.3);
            padding: 0.5rem;
            padding-right: 1.5rem;
            border-radius: 1rem;
            .carritoProductoImagen{
                width: 5rem;
                border-radius: 1rem;
                background-image: url(../image/supercell.png);
                background-size: 100%;
            }
            small{
                font-size: 0.8rem;
            }
            .carritoProductoEliminar{
                border: 0;
                background-color: transparent;
                color: var(--rojo);
            }
        }
    }
    .carritoAcciones{
        display: flex;
        justify-content: space-between;
        .vaciar{
            border: 0;
            background-color: var(--rojo);
            box-shadow: 0 3px 12px 0 rgba(0,0,0,.3);
            padding: 1rem;
            border-radius: 1rem;
            color: white;
            text-transform: uppercase;
            font-weight: 600;
        }
        .comprarAhora{
            display: flex;
            box-shadow: 0 3px 12px 0 rgba(0,0,0,.3);
            border-radius: 1rem;
            .totalCarrito{
                display: flex;
                background-color: white;
                padding: 1rem;
                border-top-left-radius: 1rem;
                border-bottom-left-radius: 1rem;
                color: black;
                text-transform: uppercase;
                font-weight: 600;
                gap: 1rem;
            }
            .comprar{
                border: 0;
                background-color: var(--amarillo);
                padding: 1rem;
                color: black;
                border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }
    .disabled{
        display: none;
    }
}


